@model MiniArch.ViewModels.HomeIndexListCollectionViewModel

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
@foreach(var list in Model.Items)
{
	<li>@list.Name</li>
	if (list.TodoListItems.Any())
	{
		<li>
			<ul>
				@foreach (var subitem in list.TodoListItems)
				{
					<li>@subitem.Name</li>
					<li>@subitem.Content</li>
				}
			</ul>
		</li>
	}
}
</ul>
